<div class="container-fluid">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/2560px-Star_Wars_Logo.svg.png" width="400px" style="margin-left: 500px;">
  <div class="col-6">
    <table class="table" style="margin-left: 40px;">
      <thead>
        <tr>
          <th class="h4">Id</th>
          <th class="h4">Nombre</th>
          <th class="h4">Fabricante</th>
          <th class="h4">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of naves">
          <td>
            <dd>{{ p.id }}</dd>
          </td>
          <td>
            <dd (click)="onSelected(p)">{{ p.nombre }}</dd>
          </td>
          <td>
            <dd>{{ p.empresa_fabricacion }}</dd>
          </td>
          <td>
            <dd>{{ p.descripcion }}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container-fluid">
      <p>Naves de la revelion: {{ valorRevelion }}</p>
      <p>Naves de la Neutruales: {{ valorNeutral }}</p>
      <p>Naves de la Imperio: {{ valorImperio }}</p>
    </div>
  </div>
</div>