<div class="card" style="width: 35rem; margin-left: 100px; margin-top: 50px;">
  <img src="{{ naveDetail.imagen }}" class="card-img-top" alt="{{ naveDetail.nombre }}" width="300px">
  <div class="card-body" >
      <h5 class="card-title">{{ naveDetail.nombre }}</h5>
      <dl><hr/></dl>
      <p><b>Empresa Fabricacion</b></p>
      <p class="card-text">{{ naveDetail.empresa_fabricacion }}</p>
      <dl><hr/></dl>
      <p><b>Raza Origen</b></p>
      <p class="card-text">{{ naveDetail.raza_origen }}</p>
      <dl><hr/></dl>
      <p><b>Costo</b></p>
      <p class="card-text">{{ naveDetail.costo }}</p>
      <dl><hr/></dl>
      <p><b>Bando</b></p>
      <p class="card-text">{{ naveDetail.bando }}</p>
      <dl><hr/></dl>
      <p><b>Descripción</b></p>
      <p class="card-text">{{ naveDetail.descripcion }}</p>
  </div>
</div>